@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");
:root {
  --color-azul-claro: #c4dff6;
  --color-sec: rgb(190, 129, 128);
  --color-sec-azul: rgb(67, 70, 139);
  --color-ter: rgb(128, 64, 105);

  --rojo: #d80032;
  --rojo-claro: #ef233c;
  --oscuro: #2b2d42;
  --claro: #edf2f4;
  --plomo: #8d99ae;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik Bubbles", cursive;
  background: var(--claro);
  /* background-image: linear-gradient(0deg, #d9afd9 100%, #97d9e1 0%); */
}
.contenedor {
  /*Padre*/
  width: 90%;
  max-width: 1300px;
  margin: auto;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
nav {
  /*hijo contenedor padre de a*/
  border-bottom: 4px solid var(--rojo-claro);
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav h1 {
  padding: 20px;
  color: var(--rojo-claro);
  background-color: transparent;
  letter-spacing: 3px;
  font-size: 38px;
}
nav h1.active {
  color: var(--rojo-claro);
  background-color: rgba(200, 0, 20, 0.1);
  border-radius: 15px 15px 0 0;
}

/*FIN NAV*/
.title-2{
  margin-top: 15px;
  font-size: 28px;
}
.section {
  /*Hijo de contenedor padre de card*/
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section .card {
  width: 300px;
  height: 300px;
  padding: 5px;
  margin: 10px;
  position: relative;
  border-radius: 7px;
  perspective: 2000px;
}
.frente,
.reves {
  /*Padres IMG H3, p*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 7px;
  backface-visibility: hidden;
  transition: 0.5s;
}
/* .card:hover .frente{
   transform: rotateY(180deg);
}
.card:hover .reves{
   transform: rotateY(360deg);
   box-shadow: 0 0 20px #5b372a;
} */
.frente h3 {
  position: absolute;
  font-size: 35px;
  color: var(--claro);
  text-transform: uppercase;
}
.reves {
  background-color: var(--plomo);
  transform: rotateY(180deg);
}
.reves h4 {
  padding: 10px;
  text-align: center;
  color: var(--oscuro);
  font-size: 23px;
  font-family: "Courier New", Courier, monospace;
}
.reves p {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 19px;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.heart{filter: contrast(18%);}
.heart2{filter: contrast(33%);}
.heart3{filter: grayscale(48%);}
.heart4{filter: contrast(65%);}
.heart5{filter: contrast(79%);}
.heart6{filter: contrast(98%);}

